@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 1440px;
    height: 800px;
    background-image: url('./images/bg-desktop.svg');
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}
.container{
    margin: 70px;
}
.header img{
    width: 200px;
    margin-bottom: 90px;
}
main{
    display: flex;
   
}
.text{
    color: #fff;
    padding: 50px;
}
.text h1{
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    margin-bottom: 40px;
}

.text p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
    opacity: 0.8;
}

.text button{
    border-radius: 50px;
    border: 0px;
    padding: 20px 60px;
    font-size: 19px;
    color: hsl(257, 40%, 49%);
    box-shadow: 1px 1px 9px black;
}

.icon{
    color: #fff;
    text-align: right;
}

.icon i{
    padding: 14px;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 20px;
    margin-left: 15px;
    
}

button:hover{
    color: #fff;
    background-color: hsl(300, 69%, 71%);
}
.icon i:hover{
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
}

footer{
    text-align: center;
}
footer a{
    color: #fff;
}

@media(max-width: 670px){
    body{
        background-image: url('./images/bg-mobile.svg');
        background-size: 100%;

        width: 100%;
    }
    main img{
        width: 350px;
    }
    main{
        display: block;
       
    }
   .text{
       text-align: center;
   }
   .text h1{
       font-size: 25px;
   }
   .container{
       margin: 30px;
   }
   .icon{
    text-align: center;
}

}